<div class="list">
  <h1>vertical-collection issue</h1>
  <VerticalCollection
    @items={{this.model}}
    @estimateHeight={{50}}
    as |item|
  >
    <Row @item={{item}} />
  </VerticalCollection>
</div>
